@import "../../variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.itemImg {
  width: 80px;
  height: 100px;
  border-radius: 6px;
}

.row {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 20px;

  .itemName {
    font-size: 14px;
    font-weight: 400;
  }

  p {
    font-weight: 700;
    font-size: 14px;
    margin-right: 5px;

    span {
      font-weight: 500;
      font-size: 14px;
    }
  }
}

.subTopic {
  font-weight: 700;
  font-size: 14px;
  margin-right: 5px;

  span {
    font-weight: 500;
    font-size: 14px;
  }
}

.qtdRow {
  display: flex;
  align-items: center;
  gap: 5px;

  .icon {
    width: 15px;
    height: 15px;
    cursor: pointer;

    &:active {
      color: #112d4e;
      transform: translateY(1px);
    }
  }
}

.iconRow {
  .icon {
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:active {
      color: $alert-color;
      transform: translateY(4px);
    }
  }
}

.itemDivider {
  width: 100%;
  margin: 0.5rem 0;
  border: 0.1rem solid #00000020;
}
