.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #112d4e;
  color: #f9f7f7;
}

.row {
  display: flex;
  align-items: center;
  gap: 5px;

  .iconWallet {
    font-size: 30px;
  }

  p {
    font-size: 18px;
    font-weight: 700;
  }
  span {
    font-size: 16px;
    font-weight: 400;
  }
}

.rowNavIcon {
  display: flex;
  align-items: center;

  .navIcon {
    margin-left: 1rem;
    cursor: pointer;
    font-size: 30px;

    &:hover {
      color: #f9f7f780;
    }
  }
}

.cartIconContainer {
  position: relative;
  display: inline-block;
}

.cartBadge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 12px;
}
