$max-width: 1920px;
$text-color: #00052b;
$background: #f9f7f7;
$font-family: "Open Sans";
$primary-color: #3f72af;
$secondary-color: #dbe2ef;
$alert-color: #e74c3c;

$nav-text-color: #f9f7f7;
$nav-background: #112d4e;

$card-border-radius: 8px;
